@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <img src="~/Imagenes/images.jpg" class="img-fluid" alt="Responsive image">
</div>
<script>
    function mostrarAlerta() {
        alert("Mi nombre es Josue y mi hobbie es los videojuegos");
    }
</script>


