@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <img src="~/Imagen/images.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="text-center mt-5">
    <button class="btn btn-info mt-3" onclick="mostrarAlerta()">Mostrar Info</button>
</div>
<script>
    function mostrarAlerta() {
        alert("Mi nombre es Josue y mi hobbie es los videojuegos");
    }
</script>
